.kmom-container {
    display: grid;
    grid-template-rows: 50px 100%;
    grid-template-columns: 20% 80%;
    max-width: 1200px;
}

.kmom-container h1 {
    grid-column: 2 / 2;
    grid-row: 1 / 2;
}

.kmom-container .report-text {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
}

.side {
    grid-column: 1 / 2;
    grid-row: 1 / span 2;
    margin-top: 50px;
    /*margin-left: 15px;*/
}

.side a:link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.side a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.side a:active {
    color: rgb(124, 0, 124);
    text-decoration: none;
}

.side a:hover {
    color: rgb(126, 1, 126);
    text-decoration: none;
}

.side a {
    margin: 10px;
}

.closebtn {
    margin-left: 200px;
    float: right;
    display: none;
}

.openbtn {
    display: none;
}


@media screen and (max-width: 800px) {
    .side {
        margin-left: 0;
        display: none;
    }
    
    .kmom-container {
        display: grid;
        grid-template-rows: 50px 100px 100%;
        grid-template-columns: 0% 100%;
    }

    .closebtn {
        display: inline;
    }

    .openbtn {
        display: inline;
        grid-row: 1 / 3;
    }

    .kmom-container h1 {
        grid-column: 2 / 2;
        grid-row: 2 / 3;
    }

    .kmom-container .report-text {
        grid-column: 2 / 2;
        grid-row: 3 / 3;
    }
}

