@import '../../shared/scss/base';

@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import 'report';
@import 'kmom';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

%color-white {
    color: rgb(255, 255, 255);
}

/* Header */

.site-header {
    flex: 0 0 auto;
    background-color: #2b2e30;
    padding: 0 2em;

    a,
    a:visited {
        @extend %color-white;
    }
}

.logo {
    float: right;

    img {
        max-width: 150px;
        border-radius: 80px;
        border: solid rgb(255, 255, 255) 2px;
        margin: 5px;
    }
}

/* Main */

.main {
    flex: 1 0 auto;
    padding: 2em;

    img {
        border: $img-border;
        border-radius: 10px;
        width: 100%;
        max-width: 600px;
    }

    a {
        color: rgb(255, 255, 255);
    }

    a:visited {
        color: rgb(255, 255, 255);
    }
}

.cwheel img {
    max-width: 200px;
}

.analys-img img {
    max-width: 400px;
    /*float: right;*/
}

ul {
    margin-left: 3em;
    list-style-type: circle;
}

ol {
    margin-left: 3em;
}

/* Footer */

.site-footer {
    flex: 0 0 auto;
    background-color: #2b2e30;
    color: #f0f0f0;
    padding: 2em;
    text-align: center;

    a {
        color: #f0f0f0;
    }
}

.social {
    float: right;
}

.icons {
    float: left;
}

.main {
    background-color: rgb(68, 68, 68);
    color: #f0f0f0;
}

.side a:link {
    color: #f0f0f0;
    text-decoration: none;
}

.side a:visited {
    color: #f0f0f0;
    text-decoration: none;
}

.kmom-box .text {
    color: #f0f0f0;
}

link i {
    color: #f0f0f0;
    text-decoration: none;
}

.link a:visited {
    color: #f0f0f0;
    text-decoration: none;
}

.kmom-box {
    background-color: rgb(109, 109, 109);
}

.kmom-box .link i {
    color: rgb(255, 255, 255);
}

.kmom-box .text {
    color: rgb(255, 255, 255);
}
